body {
    margin: 0;
    padding: 0;
}

/* *{
    border: 1px solid red;
} */
.wraper {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.header {
    width: 100%;
    display: flex;
    padding: 10px 0px 40px 0px;
}

.header-logo {
    width: 10%;
}

.main-manu {
    width: 90%;
}

.logo {
    padding: 10px 10px;
}

ul {
    display: flex;
    justify-content: end;
    padding: 10px 15px;
    gap: 65px;
    list-style: none;
}

ul li {
    text-decoration: none;
}

ul li a {
    color: #000;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: bold;

}

.section-1 {
    width: 100%;
    display: flex;
    gap: 30px;
    padding: 50px 0px;
}

.section-1-right-side {
    width: 100%;

}

.section-1-left-side {
    width: 100%;
}

h1 {
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    padding: 35px 20px 0px 20px;
    line-height: 60px;
    font-weight: 800;
}

.section-1-left-side p {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    padding: 8px 20px;
    line-height: 20px;
}

.section-1-left-side button {
    padding: 10px 20px !important;
    background-color: #ffe100;
    color: #000000;
    border: none;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}

.section-1-left-side button:hover {
    background-color: #008000;
}

.section-1-right-side img {
    width: 100%;
}

.section-2 {
    width: 100%;
    padding: 0px 0px 5px 0px;
}

.section-2 h2 {
    font-size: 45.8px;
    font-family: 'Montserrat', sans-serif;
    color: #1e1e1e;
    padding: 0px 25px;
}

.section-3 {
    width: 100%;
    padding: 0px 0px 40px 0px;
}

.btn-2 {
    color: #1e1e1e;
    background-color: transparent;
    padding: 8px 20px;
    border: 1px solid transparent;
}

.btn-2 a {
    font-size: 12px;
    font-family: sans-serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.btn-2:hover {
    background-color: #ffe100ac;
}

.btn-new {
    justify-content: space-between;
    border: none;
    background: none;
    padding: 0px 35px;
    margin: 15px;
}

.btn-new a {
    text-decoration: none;
    gap: 20px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color: #1e1e1e;
}

.btn-new a:hover {
    color: #1e1e1e;
    background-color: #ffe100;
    padding: 10px 20px;
}

.btn-3 {
    float: right;

}

.section-4 {
    width: 100%;
    display: flex;
    gap: 20px;

}

.section-4-1side {
    width: 100%;
    display: flex;
    flex-direction: column;
    display: grid;
}

.section-4-2side {
    width: 100%;
    display: grid;
}

.section-4-3side {
    width: 100%;
    display: grid;
}

.cato-small {
    width: 100%;
    position: relative;
    display: block;
}

.cato-big {
    width: 100%;
    position: relative;
    display: block;
}

.cato-small img {
    width: 100%;
}

.cato-big img {
    width: 100%;
}

.img-overlape {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    background-color: #008000;
}

.img-overlape:hover {
    opacity: 1;
}

.image-title {
    font-size: 16px;
    font-weight: bold;
}

.image-description {
    font-size: 12px;
    margin-top: 5px;
}

.section-5 {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 40px 0px 0px 0px;
}

.btn-3 {
    padding: 10px 30px;
    border: none;
    text-align: center;
    background-color: #ffe100;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #1e1e1e;
}

.section-6 {
    width: 100%;
    padding: 140px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55x;
}

.companyname-1 {
    width: 100%;
}

.companyname-2 {
    width: 100%;
}

.companyname-3 {
    width: 100%;
}

.companyname-4 {
    width: 100%;
}

.companyname-5 {
    width: 100%;
}

.companyname-6 {
    width: 100%;
}

.section-7 {
    width: 100%;
    padding: 0px 0px 70px 0px;
}

.section-7 h2 {
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    color: #1e1e1e;
    padding: 0px 20px;
}

.section-7 p {
    font-size: 12px;
    color: #1e1e1e;
    font-family: 'Montserrat', sans-serif;
    padding: 0px 20px;
    line-height: 18.5px;
}

.section-8 {
    width: 100%;
    display: flex;
    gap: 30px;
}

.section-8-left {
    width: 100%;
    position: relative;
}

.text {
    position: absolute;
    bottom: 3px;
    padding: 10px 50px;
    text-align: center;
    font-size: 15px;
    color: #008000;
    background-color: #ffe100;
    color: #000;
    font-family: 'Montserrat', sans-serif;
}

.text span {
    color: #fff;
}

.section-8-mid {
    width: 100%;
    position: relative;
}

.section-8-right {
    width: 100%;
}

.section-8 img {
    width: 100%;
}

.section-8 h2 {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #1e1e1e;
    padding: 50px 25px 30px 25px !important;
}

.section-8 p {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color: #1e1e1e;
    line-height: 20px;
    padding: 0px 20px !important;
}

.btn-4 {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color: #1e1e1e;
    font-weight: bold;
}

.btn-4 a {
    text-decoration: none;
    color: #1e1e1e;
}

.btn-4 a:hover {
    color: #008000;
}

.section-9 {
    width: 100%;
    padding: 100px 0px 70px 0px;
}

.section-9 h2 {
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    color: #1e1e1e;
    padding: 15px 20px;
}

.section-9 p {
    font-size: 12px;
    color: #1e1e1e;
    font-family: 'Montserrat', sans-serif;
    padding: 0px 20px;
}

.section-10 {
    width: 100%;
    height: 256px;
    display: flex;
    gap: 30px;
    padding: 0px 0px 20px 0px;
}

.section-10-1st-img-sec {
    width: 100%;
    position: relative;
}

.section-10-2st-img-sec {
    width: 100%;
    position: relative;
}

.section-10-3st-img-sec {
    width: 100%;
    position: relative;
}

.section-10 img {
    width: 100%;
}

.section-10 h3 {
    font-size: 15px;
    color: #1e1e1e;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 10px;
}

.section-10 p {
    font-size: 12px;
    color: #1e1e1e;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 10px;
}

.section-11 {
    width: 100%;
    background-color: #fff;
}

.section-12 {
    width: 100%;
    padding: 230px 0px 0px 0px;
}

.section-12 h2 {
    font-size: 45px;
    padding: 0px 30px;
    font-family: 'Montserrat', sans-serif;
    color: #1e1e1e;
}

.section-12 p {
    font-size: 12px;
    color: #1e1e1e;
    font-family: 'Montserrat', sans-serif;
    padding: 0px 30px !important;
    line-height: 30px;
}

form {
    width: 100%;
}

input {
    padding: 5px 0px 5px 0px;
    width: 100%;
    margin: 10px 0px;
    font-size: 12px;
    color: #1e1e1e;
    font-family: 'Montserrat', sans-serif;
}

textarea {
    padding: 10px 0px 10px 0px;
    width: 100%;
    margin: 10px 0px;
    font-size: 12px;
    color: #1e1e1e;
    font-family: 'Montserrat', sans-serif;
}

.section-13 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 82px;
}

.section-13-left {
    width: 20%;
}

.section-13-mid {
    width: 20%;
}

.section-13-right {
    width: 20%;

}

.section-13 img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 85px;
}

h6 {
    font-size: 12px;
    color: #1e1e1e;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    line-height: 20px;
}

.section-14 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa.fa-twitter,
.fa.fa-facebook,
.fa.fa-instagram {
    padding: 26px;
    padding-top: 0px;
    font-size: 30px;
    color: #000;
    text-decoration: none;
}

.fa.fa-instagram a {
    text-decoration: none;
}

.fa.fa-facebook a {
    text-decoration: none;
}

.fa.fa-twitter a {
    text-decoration: none;
}

.last-section {
    width: 100%;
    background-color: #000;
    display: flex;
}

.footer {
    width: 100%;
    display: flex;
}

.footer-heading {
    width: 100%;
}

.last-section p {
    font-size: 11px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    padding: 30px 10px;
}

.section-15 {
    width: 100%;
    display: flex;
    gap: 30px;
}

.section-15-right-side {
    width: 100%;

}

.section-15-left-side {
    width: 100%;
    text-align: center;
}

.section-15 h2 {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px 20px 0px 20px;
    line-height: 60px;
    font-weight: 800;
}

.section-15-left-side p {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    padding: 8px 20px;
    line-height: 20px;
}

.btn-5 {
    padding: 15px 20px !important;
    background-color: #ffe100;
    color: #000000;
    border: none;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    margin: 15px 0px;
}

.btn-5:hover {
    background-color: #008000;
}


.section-15-right-side img {
    width: 100%;
}

.footer-img {
    width: 80px;
    height: 50px;
    padding: 20px;
}


.mbl-menu {
    width: 70px;
    display: none;
    padding: 20px 0px !important;
}































@media screen and (max-width:1079px) {
    .mbl-menu {
        display: block;
        padding: 0px 20px;
    }

    .header-logo {
        width: 100%;
        display: flex;
        justify-content: space-between;

    }

    .header {
        flex-direction: column;
    }

    .main-manu {
        width: 100%;
        display: none;
    }

    ul {
        flex-direction: column;
        background-color: #1e1e1e;
        gap: 20px;
    }

    ul a {
        color: #fff !important;
    }

    .section-1 {
        padding: 0px 0px;
        width: 100%;
    }

    .section-1-right-side img {
        width: 100%;
    }

    h1 {
        padding: 60px 20px;
    }

    .section-7 {
        width: auto;
        padding: 0px 20px 70px 20px;
        text-align: center;
    }

    .section-9 {
        width: auto;
        padding: 0px 20px 70px 20px;
        text-align: center;
    }

    .section-12 {
        width: auto;
        padding: 261px 20px 0px 20px;
    }
}

@media screen and (max-width:810px) {
    /* .text {
        position: absolute;
        bottom: 0;
        left:0;
        text-align: center;
        font-size: 15px;
        color: #008000;
        background-color: #ffe100;
        color: #000;
        font-family: 'Montserrat', sans-serif;
    }
    
    .text span {
        color: #fff;
    }
    .section-1 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .section-1-left-side p {
        padding: 10px 10px 10px 10px;
    }

    .section-2 h2 {
        padding: 0px 10px;
        text-align: center;
    }

    .section-6 {
        width: auto;
        padding: 80px 0px;
        gap: 5px;
    }

    .section-8 {
        width: auto;
        padding: 0px 20px 0px 20px;
    }
    .section-8 h2 {
        padding: 0px 15px 0px 15px !important;
    }

    .section-12 {
        width: auto;
        padding: 60px 20px 0px 20px;
        text-align: center;
    }

    .section-13 {
        width: auto;
        padding: 20px 10px;
        display: none;
    }

    form {
        padding: 0px 10px 0px 10px;
        width: 95%;
    }
    .section-15 {
        width: auto;
        flex-direction: column-reverse;
        padding:0px 10px;
    }
    .text {
        bottom: 90px;
        padding: 5px 10px;
    }
} */

    /* @media screen and (max-width:600px) { */
    .section-4 {
        width: auto;
        flex-direction: column;
        padding: 0px 20px;
    }

    .section-2 h2 {
        text-align: center;
    }

    h1 {
        text-align: center;
    }

    .section-1-left-side p {
        text-align: center;
    }

    .section-13 {
        display: none;
    }

    .section-7 h2 {
        text-align: center;
    }

    .section-7 p {
        text-align: center;
    }

    .section-8 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .section-9 {
        text-align: center;
    }

    .section-10 {
        height: auto;
        width: auto;
        flex-direction: column;
        text-align: center;
        padding: 0px 20px;
    }

    .section-12 {
        text-align: center;
        padding: 10px 0px;
    }

    .section-1 {
        padding: 0px 0px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .section-1 {
        padding: 0px 0px;
    }

    form {
        width: 90%;
    }

    .footer {
        width: auto;
    }

    .section-14 {
        padding: 0px;
    }

    .section-3 {
        width: auto;
        text-align: center;
    }

    .section-15 {
        width: auto;
        display: flex;
        flex-direction: column-reverse;
        padding: 0px 20px;
    }

    .section-15 h2 {
        text-align: center;
    }

    .img-overlape {
        width: auto;
        height: auto;
    }

    .section-6 {
        width: auto;
        display: grid;
        gap: 30px;
    }

    .companyname-1 {
        width: 100%;
        text-align: center;
    }

    .companyname-2 {
        width: 100%;
        text-align: center;
    }

    .companyname-3 {
        width: 100%;
        text-align: center;
    }

    .companyname-4 {
        width: 100%;
        text-align: center;
    }

    .companyname-5 {
        width: 100%;
        text-align: center;
    }

    .companyname-6 {
        width: 100%;
        text-align: center;
    }
}